<div class="container-fluid container-fluid-custom pd-md-5 mb-5">
    <main>
        <div class="row py-md-5 text-center justify-content-center">
            <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
                <h1 class="display-2 fw-bold mb-4 position-relative">
                    Express yourself in philosophical depth!
                </h1>
                <p class="fs-4 mb-4">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur officiis excepturi odit, veritatis, rem deserunt unde ullam quo sint nulla ratione eos reprehenderit quaerat ipsum iure provident, suscipit quia odio?
                </p>
                <a href="/auth/google" class="btn btn-primary btn-lg">Try Notes for Free!</a>
            </div>
        </div>
    </main>
</div>
